
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


html, body {
    color: #555;
    font-family: 'Raleway', sans-serif;
    font-size: 1.05em;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

video#bg_vid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
  }

  .header{
    padding: 1%;
  }

  .header img {
    float: left;
    width: 10%;
    height: auto;
    background: #555;
  }
  
  .header h1 {
    position: relative;
    text-align: center;
    display: flex;
    font-weight: strong;
    color: #555;
    justify-content: center;
    align-items: center;
    height: auto;
  }

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 5px 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

// Used for div and children to make them transparent
.transparent, .transparent h1 {
    background-color: rgba(0, 0, 0, 0.0);
    color:#ffffff;
}

.transparent h3, .transparent h4 {
    display: inline-block;
}

//used for div to make it semi-transparent (Used with Panel class)
.semi-transparent {
    background-color: rgba(0, 0, 0, 0.3);
    color:#ffffff;
    border-color: rgba(0,0,0,0.0);
    padding: 1%;
}

.form-control {
    font-weight: bold;
}

.centerText {
    text-align: center;
}

#stats_tabs {
    margin-top:0.9rem
}

/**
 *  Player Profile
 */

.panel {
    border: 0;
}

#profile-head {
    height: 128px;
    border-bottom: 1px solid #ddd;
    background-color: $brand-primary;
    color: white;
}

#profile-img {
    float: left;
}

#avatar {
    height: 128px;
}

#profile-stats {
    float: left;
    width: 30%;
    min-height: 128px;
    padding-left: 24px;
    padding-top: 10px;
    #profile-name {
        font-weight: 800;
        font-size: 1.15em;
    }
    #player-level-container {
        position: relative;
    }
    #clearance-border {
        height: 65px;
        position: absolute;
        left: 0;
        top: 0;
    }
    #player-level {
        font-size: 1.15em;
        font-weight: 800;
        color: #ddd;
        margin: 12px 0 0 16px;
        position: absolute;
        z-index: 100;
    }
}

#profile-nav {
    float: left;
    margin: 0;
    height: 128px;
    width: 50%;
    ul {
        border-bottom: 0;
        li {
            margin: 0;
            height: 128px;
            width: 150px;
            a {
                margin: 0;
                height: 128px;
                width: 150px;
                text-align: center;
                font-weight: 800;
                font-size: 1.10em;
                color: white;
            }
        }
        .active a {
            background-color: $brand-secondary;
        }
    }
}

#rank {
    height: 100px;
    margin-top: -20px;
}

#content {
    clear: both;
    color: white;
    font-size: 1.10em;
    background-color: $brand-secondary;
}

.tab-content {
    padding: 3%;
    background-color: $brand-secondary;
    color: white;
    h2 {
        margin: 0;
    }
}

#newsfeed {
    .item {
        margin-bottom: 3rem;
        margin-left:auto;
        margin-right:auto;
    }
    a {
        color: #fff;
    }

    .news_date {
        display:block !important;
        span {
            margin-left:2rem;
        }
    }
    img {
        max-width: 100%;
    }
}

.r6_menu_patches {
    @extend .list-group-item;
    @extend .semi-transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
    a {
        color: #fff;
        font-size: 1.25rem;
    }
}
